
/*Global Colours*/

:root {
  --background: #F7CE5B;
  --link_text: #7B6B43;
  --text: #000000;
}

html {
  background-color: var(--background);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#header{
    margin-top:5%;
    margin-bottom:0%;
    text-align:left;
    letter-spacing:1%;
    font-size:2vw;
}


body {
    font-family: 'Overpass', sans-serif;
    color: var(--text);
    text-decoration:none;
    text-align:left;
    font-weight:normal;
    margin-left:5%;
    letter-spacing:3px;
    font-size:2vw;
}

h1 {
    font-weight:normal;
}

#contents{
  text-align: left;
  margin-left: 0px;
  margin-top: 1.5%;
  margin-bottom: 2%;
  font-size:1vw;
}

a {
    color: var(--link_text);
    text-decoration:none;
}

ul {
    list-style-type: circle;
}

ul li.a {
    margin-top: 2%;
    list-style-type: none;
}
