
/*Global Colours*/

:root {
  --background: #F7CE5B;
  --link_text: #7B6B43;
  --text: #000000;
}

html {
  background-color: var(--background);
}

body {
    font-family: 'Overpass', sans-serif;
    color: var(--text);
/*    margin-left: 10%;*/
}

/*h1 {*/
/*    font-weight:normal;*/
/*    letter-spacing:1%;*/
/*    font-size:600%;*/
/*}*/

/*h2 {*/
/*    font-weight:normal;*/
/*    letter-spacing:1vw;*/
/*    font-size:1.5vw;*/
/*    margin-bottom:3vw;*/
/*}*/

/*#contents{*/
/*  text-align: left;*/
/*  font-size:1vw;*/
/*  letter-spacing:0.25vw;*/
/*}*/

/*a {*/
/*    color: var(--link_text);*/
/*    text-decoration:none;*/
/*}*/

/*ul {*/
/*    list-style-type: circle;*/
/*}*/
/**/
/*ul li.a {*/
/*/*    margin-top: 2%;*/*/
/*    list-style-type: none;*/
/*}*/
